#searchBar{
    /*width:100%; */padding: 50% 0;
}
#searchBar{
    font-size: 1.4em;
}
#station{
    width: 13.5em;
    border: 1px solid black;
}
#address{
    width: 10em;
    font-size: 1.2em;
    border: 1px solid black;
}
#or{margin: 1em 0;}
#go{
    margin-top: 1em;
}
.hint{
    color: #a9a9a9;
}