html, body, #contentWrapper {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%
}

body {
    font-family: Helvetica;
    background-color: #ddd;
    /*background-image: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#999));*/
    color: #222;
}

.whiteTextShadow {
    text-shadow: 0 0.05em 0 #fff;
}