.prompter{
    position: absolute;
    list-style: none;
    /*list-style-type: none;*/
    padding: 0;
    margin: 0;
}
.prompter li{
    padding: 0.2em 0.3em;
    overflow: hidden;
    margin: 0;
    background-color: #FFFFFF;
    border: 0.1em solid #999999;
    border-bottom: 0;
    color: #222222;
    font-weight: bold;
    text-align: left;
}

.prompter li:first-child {
    -webkit-border-top-left-radius: 0.4em;
    -webkit-border-top-right-radius: 0.4em;
}
.prompter li:last-child{
    border-bottom: 0.07em solid #999999;
    -webkit-border-bottom-left-radius: 0.4em;
    -webkit-border-bottom-right-radius: 0.4em;
}