html{
    width: 100%;
    height: 100%;
}
body {
    width: 97%;
    height: 97%;
    padding: 0.5% 1.2%
}

.title {
    font: 1.3em bold;
    border-bottom: 0.125em solid #cacaca;
    margin-bottom: 0.5em;
}

.content {
    list-style-type: circle
}